# Copyright (c) 2022 Zephyr Project members and individual contributors
# SPDX-License-Identifier: Apache-2.0

config BOARD_OUR_BOARD
	select SOC_NRF52840_QIAA if BOARD_OUR_BOARD_NRF52840
	select SOC_NRF52811_QFAA if BOARD_OUR_BOARD_NRF52811
